.top {
    width: 100vw;
    height: 5px;
    background-image: linear-gradient(to right, green, gold);
}

.bottom {
    width: 100vw;
    height: 5px;
    margin-top: 0.5rem;
    background-image: linear-gradient(to left, green, gold);
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__container {
    margin-top: 1rem;
    width: 80vw;
    display: flex;
    flex-flow: column;
}

.header_logos{
    width:100%;
    display: flex;
    justify-content: space-between;
}


.header__container .header_logos  img {
    height:3em;
}

.header__container{
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'Blinker', sans-serif;
    font-weight: bolds;
    
}

.headerBackground {
    width: 100vh;
    height: 15vh;
    background: linear-gradient(to bottom, #2caa4c 37%, #e2e797 64%);
    position: absolute;
    z-index: -10;
}